@model ShelterHelper.ViewModels.SpeciesViewModel;
@{
	ViewData["Title"] = "Add resources";
}


<h1>Add resources</h1>
<h4>Received shipment</h4>
<hr/>

<div class="tabs">
	<button type="button" class="tablinks" onclick="openType(event, 'Diet')" id="openDefault">Diet</button>
	<button type="button" class="tablinks" onclick="openType(event, 'Bedding')">Bedding</button>
	<button type="button" class="tablinks" onclick="openType(event, 'Toy')">Toy</button>
	<button type="button" class="tablinks" onclick="openType(event, 'Accessory')">Accessory</button>
</div>


<div id="Diet" class="tabcontent">
	<div class="col-md-4">
		<div>
			<ul class="add-resources-table">
				@foreach (var item in Model.DietsList)
				{
					<li>
						<form onsubmit="addResourcesHelper(event, 'diets', @item.DietId, event.target[0].value)">
							<p>@item.DietName</p>
							<div>
								<input required min=1 class="form-control" type="number"
								       placeholder="Insert the quantity here"/>
								<span class="text-danger"></span>
							</div>
							<button type="submit" value="Submit" class="btn btn-primary">Submit</button>
						</form>
					</li>
				}
			</ul>
		</div>
	</div>
</div>

<div id="Bedding" class="tabcontent">
	<div class="col-md-4">
		<div>
			<ul class="add-resources-table">
				@foreach (var item in Model.BeddingsList)
				{
					<li>
						<form onsubmit="addResourcesHelper(event, 'beddings', @item.BeddingId, event.target[0].value)">
							<p>@item.BeddingName</p>
							<div>
								<input required min=1 class="form-control" type="number"
								       placeholder="Insert the quantity here"/>
								<span class="text-danger"></span>
							</div>
							<button type="submit" value="Submit" class="btn btn-primary">Submit</button>
						</form>
					</li>
				}
			</ul>
		</div>
	</div>
</div>

<div id="Toy" class="tabcontent">
	<div class="col-md-4">
		<div>
			<ul class="add-resources-table">
				@foreach (var item in Model.ToysList)
				{
					<li value=@item.ToyId>
						<form onsubmit="addResourcesHelper(event, 'toys', @item.ToyId, event.target[0].value)">
							<p>@item.ToyName</p>
							<div>
								<input required min=1 class="form-control" type="number"
								       placeholder="Insert the quantity here"/>
								<span class="text-danger"></span>
							</div>
							<button type="submit" value="Submit" class="btn btn-primary">Submit</button>
						</form>
					</li>
				}
			</ul>
		</div>
	</div>
</div>

<div id="Accessory" class="tabcontent">
	<div class="col-md-4">
		<div>
			<ul class="add-resources-table">
				@foreach (var item in Model.AccessoriesList)
				{
					<li value=@item.AccessoryId>
						<form onsubmit="addResourcesHelper(event, 'accessories', @item.AccessoryId, event.target[0].value)">
							<p>@item.AccessoryName</p>
							<div>
								<input required min=1 class="form-control" type="number"
								       placeholder="Insert the quantity here"/>
								<span class="text-danger"></span>
							</div>
							<button type="submit" value="Submit" class="btn btn-primary">Submit</button>
						</form>
					</li>
				}
			</ul>
		</div>

	</div>
</div>

<button type="button" id="scroller">Scroll to top</button>
<script>
	window.addEventListener('load',function (){
	document.getElementById("openDefault").click()
	})
</script>